<!DOCTYPE HTML>
<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>
<body>
<div>
    <h3>Main page</h3>

    <a href="/login">
        <input type="submit" value="Sing In">
    </a>
    <a href="/user">
        <input type="submit" value="Page for users">
    </a>
    <a href="/admin">
        <input type="submit" value="Page for admin">
    </a>
    <a href="/logout">
        <input type="submit" value="Logout">
    </a>
</div>
</body>
</html>